header{
    grid-area: header;
    display: flex;
    align-items: center; 
    margin: 20px; 
    justify-content: center;
    a{
        margin: 10px;
        .logo{
            &:hover{
                transform: $transform_scale;
                transition: $transition;
            }
        }
    }
    .nav-link{
        font-size: 20px;
        color: #232D36;
        width: 100%;
    }
}